ICP7/SourceCode/Node-Red Imports/Lower Case and Unit Converter.txt
[{"id":"48c3dba0.5e9da4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e4779dc1.11691","type":"unit-converter","z":"48c3dba0.5e9da4","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","name":"","x":920,"y":420,"wires":[["2472de95.cefd92"]]},{"id":"8a7ccc4e.e17a3","type":"inject","z":"48c3dba0.5e9da4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":610,"y":420,"wires":[["e4779dc1.11691"]]},{"id":"2472de95.cefd92","type":"debug","z":"48c3dba0.5e9da4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":420,"wires":[]},{"id":"f1e466d2.fbeb48","type":"lower-case","z":"48c3dba0.5e9da4","name":"","x":920,"y":320,"wires":[["29fd619f.85527e"]]},{"id":"634b6b0.b62b294","type":"inject","z":"48c3dba0.5e9da4","name":"HELLO WORLD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HELLO WORLD","payloadType":"str","x":630,"y":320,"wires":[["f1e466d2.fbeb48"]]},{"id":"29fd619f.85527e","type":"debug","z":"48c3dba0.5e9da4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":320,"wires":[]}]