ICP7/SourceCode/Node-Red Imports/Traffic Light Switch.txt
[{"id":"f662d6a3.5803a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"856a1c93.448b1","type":"inject","z":"f662d6a3.5803a8","name":"Switch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["92d5cf5.423163"]]},{"id":"92d5cf5.423163","type":"function","z":"f662d6a3.5803a8","name":"Function","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["760e69f5.1cd0f8"]]},{"id":"760e69f5.1cd0f8","type":"arduino out","z":"f662d6a3.5803a8","name":"G","pin":"5","state":"OUTPUT","arduino":"86638fba.0ea9a","x":570,"y":280,"wires":[]},{"id":"5475e457.5967cc","type":"arduino out","z":"f662d6a3.5803a8","name":"Y","pin":"3","state":"OUTPUT","arduino":"86638fba.0ea9a","x":570,"y":340,"wires":[]},{"id":"cb35c3d2.d188f","type":"arduino out","z":"f662d6a3.5803a8","name":"R","pin":"4","state":"OUTPUT","arduino":"86638fba.0ea9a","x":570,"y":440,"wires":[]},{"id":"30cb2b1c.212bd4","type":"function","z":"f662d6a3.5803a8","name":"Function","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":360,"wires":[["5475e457.5967cc"]]},{"id":"684fa0fb.fb7d4","type":"function","z":"f662d6a3.5803a8","name":"Function","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["cb35c3d2.d188f"]]},{"id":"73431acc.fade94","type":"inject","z":"f662d6a3.5803a8","name":"Switch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":360,"wires":[["30cb2b1c.212bd4"]]},{"id":"17ac2034.918f","type":"inject","z":"f662d6a3.5803a8","name":"Switch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["684fa0fb.fb7d4"]]},{"id":"86638fba.0ea9a","type":"arduino-board","z":"","device":"COM6"}]